.title-super-dark {
	font-size: 48px;
	color: #1B1B1B;
	letter-spacing: -3px;
	line-height: 44px;
	font-weight: bold;
}

.title-super-light {
	font-size: 48px;
	color: #ffffff;
	letter-spacing: -3px;
	line-height: 44px;
	font-weight: bold;
}

.title-large-dark {
	font-size: 36px;
	color: #1b1b1b;
	letter-spacing: -2px;
	line-height: 44px;
	font-weight: bold;
}

.title-large-light {
	font-size: 36px;
	color: #ffffff;
	letter-spacing: -2px;
	line-height: 44px;
	font-weight: bold;
}

.body-dark {
	font-size: 18px;
	color: #1B1B1B;
	letter-spacing: -0.75px;
	line-height: 22px;
	font-weight: regular;
}

.body-light {
	font-size: 18px;
	color: #ffffff;
	letter-spacing: -0.75px;
	line-height: 22px;
	font-weight: regular;
}

.callout-medium-dark {
	font-size: 16px;
	color: #1B1B1B;
	font-weight: bold;
	line-height: 17px;
	letter-spacing: -0.5px;
}

.callout-medium-light {
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	line-height: 17px;
	letter-spacing: -0.5px;
}

.callout-small-light-bold {
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	line-height: 17px;
	letter-spacing: -0.5px;
}

.callout-small-dark-bold {
	font-size: 14px;
	color: #1b1b1b;
	font-weight: bold;
	line-height: 17px;
	letter-spacing: -0.5px;
}

.callout-small-dark-reg {
	font-size: 14px;
	color: #1B1B1B;
	line-height: 17px;
	letter-spacing: -0.5px;
}

.callout-small-light-reg {
	font-size: 14px;
	color: #ffffff;
	line-height: 17px;
	letter-spacing: -0.5px;
}

.footnote-lightgray {
	font-size: 12px;
	color: #6B6B65;
	letter-spacing: 0px;
	line-height: 14px;
}

.footnote-light {
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 0px;
	line-height: 14px;
}

.caption-small-dark {
	font-size: 12px;
	color: #1b1b1b;
	letter-spacing: 1.5px;
	line-height: 12px;
}

.caption-small-light {
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 1.5px;
	line-height: 12px;
}

.light-gray-radial {
	background: radial-gradient(247.46% 247.46% at 0% 50%, #E8E9E3 0%, #CFD1C7 100%);
}
