<template>
	<div>
		<div class="dropdown-content">
			<div class="flexed-dropdown-content" @click="toggleFlyup">
				<p class="callout-small-dark-bold">{{ label }}</p>
				<p class="callout-small-dark-reg end-grid">
					{{ selectedValue['label'] }}
				</p>
				<img
					v-if="flyUpOpen"
					src="~/assets/svg/gf-caret-up.svg"
					class="end-grid"
				/>
				<img
					v-else
					src="~/assets/svg/gf-caret-down.svg"
					class="end-grid"
				/>
			</div>
			<div v-if="flyUpOpen" class="flyup-items-container">
				<div class="items-wrapper">
					<div
						v-for="(item, index) in items"
						:key="`drop - ${index}`"
						class="callout-small-dark-reg align-end"
						@click="handleValueSelect(item)"
					>
						<p>{{ item['label'] }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		items: {
			type: Array,
			default: () => []
		},
		label: {
			type: String,
			required: true
		},
		value: {
			type: [String, Number],
			default: ''
		}
	},
	data() {
		return {
			flyUpOpen: false
		}
	},
	computed: {
		selectedValue() {
			const value = this.items.find(item => item.value === this.value)
			if (value) return value
			return ''
		}
	},
	mounted() {
		this.flyUpOpen = false
	},
	methods: {
		handleValueSelect(item) {
			this.$emit('valueChange', item.value)
			this.toggleFlyup()
		},
		toggleFlyup() {
			this.flyUpOpen = !this.flyUpOpen
		}
	}
}
</script>

<style scoped lang="scss">
.dropdown-content {
	z-index: 2;
	padding: 16px 0;
	border-top: 1px solid#CFD1C7;
	cursor: pointer;
	.flexed-dropdown-content {
		display: grid;
		grid-template-columns: repeat(3, 4fr);
		.end-grid {
			justify-self: flex-end;
		}
		img {
			height: 12px;
			width: 8px;
		}
	}
	.flyup-items-container {
		display: grid;
		grid-template-columns: repeat(3, 4fr);
		.items-wrapper {
			grid-column-start: 2;
			justify-self: flex-end;
			text-align: right;
			div {
				cursor: pointer;
				margin-top: 24px;
				text-align: end;
			}
		}
	}
}
</style>
