.rspv-btn {
  color: white;
  padding: 0px 16px;
  height: 89px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
	&__primary {
		@apply bg-electric-blue;
	}
	&__secondary {
		@apply bg-dark-gray;
	}
	&__primary-disabled {
		@apply bg-dark-gray;
		opacity: 0.5;
	}
	&__secondary-disable {
		@apply bg-dark-gray;
		opacity: 0.5;
	}
}


.rspv-btn {
	svg {
		path {
			fill: white;
		}
	}
}