<template>
	<button
		:class="`rspv-btn rspv-btn__${type}`"
		v-bind="$attrs"
		v-on="$listeners"
	>
		<p class="callout-small-light-bold">{{ label }}</p>
		<slot name="btn-content">Submit</slot>
	</button>
</template>

<script>
export default {
	props: {
		label: {
			type: String,
			required: true
		},
		type: {
			type: String,
			default: 'primary'
		}
	}
}
</script>

<style scoped lang="scss">
@import './responsive-button';
</style>
