<template>
	<div class="main-container">
		<div
			class="background-image"
			:class="[dynamicImagePositionalClass ? 'find' : 'match']"
		>
			<img src="~/assets/images/fifa19-ronaldo-fg-lg.png" alt="" />
		</div>
		<div class="gfinity-fixed-header">
			<div class="gfinity-fixed-header__logo">
				<img src="~/assets/svg/gfinity-logo-neg.svg" />
			</div>
			<div class="gfinity-fixed-header__navigator">
				<p class="callout-medium-dark uppercase">Fifa 19</p>
				<img src="~/assets/svg/gf-nav-def.svg" />
			</div>
		</div>
		<nuxt />
	</div>
</template>

<script>
export default {
	computed: {
		dynamicImagePositionalClass() {
			return this.$route.path.split('/').includes('find')
		}
	}
}
</script>

<style scoped lang="scss">
.main-container {
	height: 100vh;
	background-color: #dfe0d9;
	position: relative;
	width: 100vw;
	.background-image {
		z-index: 0;
	}
	.background-image.find {
		position: absolute;
		opacity: 0.8;
		mix-blend-mode: multiply;
	}
	.background-image.match {
		position: fixed;
		opacity: 0.8;
		mix-blend-mode: multiply;
		right: -46vw;
		top: -38vh;
	}
}
.gfinity-fixed-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		@apply bg-dark-gray;
		min-height: 105px;
		min-width: 105px;
		position: relative;
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__navigator {
		display: flex;
		align-items: center;
		img {
			margin: 0 24px;
		}
	}
}
</style>
