<template>
	<div v-if="playerProfile.inQueue" class="container">
		<div class="match-find-container" :class="backgroundType">
			<div class="navigation__logo" @click="backToLobby">
				<img src="~/assets/svg/gf-arrow-left-white.svg" alt="" />
			</div>
			<p class="callout-medium-light mt-44p mlr-16">Matchmaking Lobby</p>
			<h2 class="title-large-light mt-24p mlr-16">{{ header }}</h2>
			<p class="body-light mt-24p mlr-16">{{ content }}</p>
			<div class="squad-display-wrapper mt-64p mlr-16">
				<p class="footnote-light">Lobby</p>
				<div
					v-for="(item, index) in lobbySquad"
					:key="index"
					class="avatar-image-wrapper"
					:class="[item['name'] ? '' : 'hidden']"
				>
					<img
						v-if="item['imageUrl']"
						:src="require(`~/assets/images/${item['imageUrl']}`)"
						alt=""
					/>
				</div>
			</div>
			<div class="mt-44p mlr-16 mb-16 queue-content-wapper">
				<p class="callout-small-light-reg">-</p>
				<p class="callout-small-light-reg">{{ footer }}</p>
			</div>
		</div>
		<div class="footer-buttons">
			<responsive-button
				:label="buttonLabel"
				:type="buttonType"
				class="hover-button"
				@click="handleButtonClick"
			>
				<div slot="btn-content">
					<div
						v-if="playerProfile.searching"
						class="custom-button-slot"
					>
						<p class="callout-small-light-reg">
							{{
								new Date(countUpTimer * 1000)
									.toISOString()
									.substr(14, 5)
							}}
						</p>
						<img src="~/assets/svg/gf-close-white.svg" />
					</div>
					<div v-else class="custom-button-slot">
						<p class="callout-small-light-reg">
							-
							{{
								new Date(countDownTimer * 1000)
									.toISOString()
									.substr(14, 5)
							}}
						</p>
						<img src="~/assets/svg/gf-arrow-right-white.svg" />
					</div>
				</div>
			</responsive-button>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import ResponsiveButton from '~/components/responsive-button'

export default {
	layout: 'header',
	components: {
		ResponsiveButton
	},
	data() {
		return {
			timer: 0,
			countUpTimer: 0,
			countDownTimer: 20
		}
	},
	computed: {
		...mapGetters({
			playerProfile: 'player/playerProfile',
			lobbySquad: 'player/lobbySquad'
		}),
		header() {
			return this.playerProfile.searching
				? 'Searching for compatible opponents'
				: 'A match has been found for you!'
		},
		content() {
			return this.playerProfile.searching
				? 'We’re searching our database of players to pair you with an opponent of similar skill'
				: 'We’ve found a compatible opponent for you to play Squad Battles with in FIFA 19'
		},
		footer() {
			return this.playerProfile.searching
				? '4,021 in Queue'
				: 'By tapping accept, you agree to play a match that may last for up to 30 minutes.'
		},
		buttonType() {
			return this.playerProfile.searching ? 'secondary' : 'primary'
		},
		buttonLabel() {
			return this.playerProfile.searching ? 'Searching...' : 'Accept'
		},
		backgroundType() {
			return this.playerProfile.searching ? 'primary' : 'secondary'
		}
	},
	async mounted() {
		await this.$store.dispatch('player/mutatePlayerProfile', {
			key: 'inQueue',
			value: true
		})
		await this.$store.dispatch('player/mutatePlayerProfile', {
			key: 'searching',
			value: true
		})
		this.initializeTimer()
	},
	beforeDestroy() {
		this.timer = 0
		this.countUpTimer = 0
		this.countDownTimer = 20
	},
	methods: {
		handleButtonClick() {
			this.playerProfile.searching
				? this.backToLobby()
				: this.acceptGame()
		},
		async initializeTimer() {
			this.timer = Math.floor(Math.random() * (20 - 10) + 20)
			let interval = setInterval(() => {
				this.countUpTimer++
			}, 1000)
			await this.countUp(this.timer)
			clearInterval(interval)
			await this.$store.dispatch('player/mutatePlayerProfile', {
				key: 'searching',
				value: false
			})
			interval = setInterval(() => {
				this.countDownTimer--
			}, 1000)
			await this.countUp(20)
			clearInterval(interval)
			this.backToLobby()
		},
		countUp(timer) {
			return new Promise((resolve, reject) => {
				setTimeout(() => {
					resolve(true)
				}, timer * 1000)
			})
		},
		backToLobby() {
			this.$router.push('/match')
		},
		acceptGame() {
			this.$router.push('/match')
		}
	}
}
</script>

<style scoped lang="scss">
.mt-64p {
	margin-top: 64px;
}
.mt-44p {
	margin-top: 44px;
}
.mt-24p {
	margin-top: 24px;
}
.mlr-16 {
	margin-left: 16px;
	margin-right: 16px;
}
.container {
	height: calc(100% - 175px);
	.footer-buttons {
		position: relative;
		.hover-button {
			position: absolute;
			right: 0;
			top: -50px;
			width: 75vw;
		}
	}
}
.match-find-container {
	width: 95vw;
	height: 100%;
	mix-blend-mode: multiply;
	overflow: scroll;
	.navigation {
		&__logo {
			height: 105px;
			width: 105px;
			position: relative;
			background: #1b1b1b;
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.squad-display-wrapper {
		display: flex;
		align-items: center;
		.avatar-image-wrapper {
			margin-left: 40px;
			height: 56px;
			width: 56px;
			border: 2px solid white;
			border-radius: 50px;
			position: relative;
			img {
				height: 46px;
				width: 46px;
				position: absolute;
				left: 50%;
				border-radius: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.avatar-image-wrapper.hidden {
			display: none;
		}
	}
}
.match-find-container.primary {
	background: #293894;
}
.match-find-container.secondary {
	background: #1b1b1b;
}
.custom-button-slot {
	display: flex;
	p {
		margin-right: 34px;
	}
}
.queue-content-wapper {
	display: flex;
	p {
		margin-right: 60px;
	}
}
</style>
