<template>
	<div class="container">
		<div class="page-content-container">
			<div class="content-return">
				<img src="~/assets/svg/gf-arrow-left.svg" />
				<p class="callout-medium-dark">Matchmaking Lobby</p>
			</div>
			<div class="dynamic-content-wrapper">
				<div class="player-header">
					<p class="title-large-dark capitalize">
						{{ playerProfile.name }}'s Lobby
					</p>
					<img src="~/assets/svg/gf-lock.svg" />
				</div>
				<div class="game-tag-wrapper">
					<p class="uppercase">Fifa 19</p>
				</div>
			</div>
			<div class="squad-content-wrapper">
				<div
					v-for="(item, index) in lobbySquad"
					:key="index"
					class="squad-details-wrapper"
				>
					<div class="avatar-image mb-4">
						<img
							v-if="item['imageUrl']"
							:src="
								require(`~/assets/images/${item['imageUrl']}`)
							"
						/>
					</div>
					<p class="mb-2 footnote-lightgray">
						{{
							item.lobbyLeader ? 'Team Leader /' : 'Team Player /'
						}}
					</p>
					<p v-if="item['name']" class="mb-4 callout-medium-dark">
						{{ item['name'] }}
					</p>
					<div
						v-else
						class="avatar-player-invite"
						@click="addNewPlayer"
					>
						<p class="callout-medium-dark">
							Invite Player
						</p>
						<img src="~/assets/svg/gf-caret-right.svg" />
					</div>
					<div v-if="item['name']" class="squad-footer">
						<p>Ready</p>
						<div class="image-number-wrapper">
							<img src="~/assets/svg/gfinity-logo-red.svg" />
							<span class="image-number">74</span>
						</div>
					</div>
				</div>
			</div>
			<div class="flyup-container">
				<flyup
					label="Type"
					:items="gameType"
					:value="playerProfile.lobbyType"
					@valueChange="
						value => handleFlyUpValueChange('lobbyType', value)
					"
				/>
				<flyup
					label="Game Modes"
					:items="gameModes"
					:value="playerProfile.gameMode"
					@valueChange="
						value => handleFlyUpValueChange('gameMode', value)
					"
				/>
				<flyup
					label="Lobby Status"
					:items="lobbyStatus"
					:value="playerProfile.lobbyStatus"
					@valueChange="
						value => handleFlyUpValueChange('lobbyStatus', value)
					"
				/>
			</div>
		</div>
		<responsive-button label="Play Now" @click="handlePlayClick">
			<div slot="btn-content">
				<div class="custom-button-slot">
					<p class="callout-small-light-reg">4012 in Queue</p>
					<img src="~/assets/svg/gf-arrow-right-white.svg" />
				</div>
			</div>
		</responsive-button>
	</div>
</template>
<script>
import { mapGetters } from 'vuex'
import ResponsiveButton from '~/components/responsive-button'
import Flyup from '~/components/flyup.vue'

export default {
	layout: 'header',
	components: {
		ResponsiveButton,
		Flyup
	},
	computed: {
		...mapGetters({
			playerProfile: 'player/playerProfile',
			lobbySquad: 'player/lobbySquad',
			gameModes: 'static/gameModes',
			lobbyStatus: 'static/lobbyStatus',
			gameType: 'static/gameType'
		})
	},
	methods: {
		handlePlayClick() {
			this.$router.push('/match/find')
		},
		async addNewPlayer() {
			await this.$store.dispatch('player/updateLobbySquad', {
				name: 'AppA',
				imageUrl: 'avatar-2.png',
				partyStatus: 'ready',
				lobbyLeader: false
			})
		},
		async handleFlyUpValueChange(key, value) {
			await this.$store.dispatch('player/mutatePlayerProfile', {
				key,
				value
			})
		}
	}
}
</script>
<style lang="scss" scoped>
.container {
	height: calc(100% - 105px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.custom-button-slot {
		display: flex;
		justify-content: space-between;
		p {
			margin-right: 40px;
		}
	}
	.page-content-container {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		.content-return {
			padding: 20px 0px;
			margin: 0px 16px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #cfd1c7;
			img {
				margin-right: 24px;
			}
		}
		.dynamic-content-wrapper {
			.player-header {
				margin: 16px 24.8px 16px 16px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.game-tag-wrapper {
				margin-left: 16px;
				p {
					width: fit-content;
					font-size: 10px;
					letter-spacing: 1.5px;
					color: white;
					background: #1b1b1b;
					padding: 0px 7px 0px 5px;
					border-bottom-right-radius: 25px;
					border-top-right-radius: 25px;
				}
			}
		}
		.squad-content-wrapper {
			margin-left: 16px;
			margin-right: 16px;
			margin-top: 24px;
			display: flex;
			.squad-details-wrapper {
				display: flex;
				flex-direction: column;
				margin-right: 10px;
				.avatar-image {
					height: 187px;
					width: 140px;
					border-radius: 6px;
					box-sizing: border-box;
					border: 1px solid #cfd1c7;
					img {
						height: 187px;
						width: 140px;
						border-radius: 6px;
						box-sizing: border-box;
						border: 1px solid #cfd1c7;
					}
				}
				.avatar-player-invite {
					display: flex;
					align-items: center;
					img {
						margin-left: 10px;
						height: 11px;
						width: 8px;
					}
				}
				.squad-footer {
					display: flex;
					.image-number-wrapper {
						position: relative;
						.image-number {
							position: absolute;
							color: red;
							font-size: 10px;
							top: -4px;
							right: -13px;
						}
					}
					p {
						font-size: 10px;
						letter-spacing: 1.5px;
						margin-right: 17px;
						padding: 0px 5px;
						border: 1px solid black;
					}
				}
			}
		}
		.flyup-container {
			margin: 32px 16px 0px 16px;
		}
	}
}
</style>
